footer {
  background: linear-gradient(rgb(57 65 64 / 80%), rgb(3 92 39)), /* Opacidade ajustada no gradiente */ url(../assets/texture.png);
  background-size: cover;
  background-blend-mode: color-dodge;
  color: white;
  padding: 20px;
}
.footer-top {
  display: flex
;
font-size: 13px;
gap: 200px;
  justify-content:center;
  align-items: flex-start;
  padding: 20px 0;
}

.footer-top .menu img {
  width: 80px;
}

.footer-top .menu {
  text-align: left;
}

.footer-top .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-top .menu ul li {
  margin: 5px 0;
}

.footer-top .menu ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;
}

.footer-top .menu ul li a:hover {
  text-decoration: none;
  color:  #191f33;
  transition: 0.2s;
}

.footer-bottom {
  display: flex
;
gap: 200px;
  justify-content:center;
  font-size: 13px;
  align-items: center;
  padding: 20px -0 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
#gg-digital{
  font-weight: 700;
  color: #eeeeee;
  text-decoration: none;
}
#gg-digital:hover{
  color: #364065;
  transition: 0.2s;
}
.footer-bottom p {
  margin: 0;
}

.footer-bottom .social-icons {
  display: flex;
  gap: 15px;
}
.footer-bottom .social-icons a{
  color: #fff;
  text-decoration: none;
}
.footer-bottom .social-icons a:hover{
  transition: 0.2s;
  color: #364065;
}
.footer-bottom .social-icons a img {
  width: 30px;
  height: 30px;
}

.footer-bottom .text-right {
  text-align: right;
}
